/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		line-height: 1.5em;
		font-size: 12pt;
		min-width: 1000px;
	}
	
/*********************************************************************************/
/* Slider                                                                        */
/*********************************************************************************/

	#slider
	{
		height: 450px;
	}
	
/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/
	
	#intro
	{
	}	
	
		#intro section
		{
		}
		
			#intro section:before
			{
				left: 15px;
			}